<% if(user.id == profile_user.id){ %>
   <form action = "/users/updateProfile/<%=profile_user.id%>"  method="POST">
     <input type = "text" name = "name" placeholder = "Your Name" value = "<%= profile_user.name %>" required>
     <input type = "password" name = "password" placeholder = "enter password" value = "<%= profile_user.password %>" required>
     <input type = "text" name = "phoneNo" placeholder = "Phone Number" value = "<%= profile_user.phoneNo %>" required>
     
    
     <input type = "submit" value = "Update">
   </form>
    <%} else {%>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<% } %>